#####################################################################
#   leds
#####################################################################
[gcode_macro _SET_LED_STATUS]
description: Sets LED status
gcode:
    {% set CFG = printer["gcode_macro _CONFIG"] %}

    {% set STATUS = params.STATUS|lower|string %}

    {% if CFG.leds and CFG.leds["Enabled"] %}
        _CLEAR_BUFFER
        _LOG LVL=TRACE NAME=opt.image.leds._SET_LED_STATUS MSG="Setting status to '{STATUS}'"

        {% if CFG.leds["names"] %}
            {% for name in CFG.leds["names"] %}
                {% set LED = CFG.leds["names"][name] %}
                {% if LED["status"][STATUS] %}
                    {% set COLOR = LED["status"][STATUS] %}

                    {% if LED["type"]|string|lower == "pwm" %}
                        #_LOG NAME=status._SET_STATUS MSG="Setting LED {name} to PWM {COLOR}"
                        _SET_LED_PWM PIN={LED["name"]} B={COLOR}
                    {% elif LED["type"]|string|lower == "rgb" %}
                        #_LOG NAME=status._SET_STATUS MSG="Setting LED {name} to R{COLOR.r} G{COLOR.g} B{COLOR.b} W{COLOR.w}"
                        _SET_LED_RGB LED={LED["name"]} IDX={LED["idx"]} RED={COLOR.r} GREEN={COLOR.g} BLUE={COLOR.b} WHITE={COLOR.w}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

[gcode_macro _SET_LED_PWM]
gcode:
    {% set CFG = printer["gcode_macro _CONFIG"] %}

    {% set PIN  = params.PIN %}
    {% set B    = params.B %}

    SET_PIN PIN={PIN} VALUE={B}

[gcode_macro _SET_LED_RGB]
description: Set LEDs to specified color
gcode:
    {% set CFG = printer["gcode_macro _CONFIG"] %}

    {% set LED           = params.LED|string %}
    {% set IDX           = params.IDX|string %}

    {% set RED           = params.RED|default(0)|float %}
    {% set GREEN         = params.GREEN|default(0)|float %}
    {% set BLUE          = params.BLUE|default(0)|float %}
    {% set WHITE         = params.WHITE|default(0)|float %}
    {% set TRANSMIT_LAST = params.TRANSMIT|default(1) %}

    #_LOG NAME=leds.base._SET_LED LVL=TRACE MSG="SET_LED LED={LED} RED={RED} GREEN={GREEN} BLUE={BLUE} WHITE={WHITE} TRANSMIT={TRANSMIT_LAST} INDEX={IDX}"
    {% if ',' in params.IDX %}
        {% set IDX = IDX.split(',') %}
        {% for led_index in IDX %}
            {% set TRANSMIT = TRANSMIT_LAST if loop.last else 0 %}
            SET_LED LED={LED} RED={RED} GREEN={GREEN} BLUE={BLUE} WHITE={WHITE} INDEX={led_index} TRANSMIT={TRANSMIT}
        {% endfor %}
    {% else %}
        SET_LED LED={LED} RED={RED} GREEN={GREEN} BLUE={BLUE} WHITE={WHITE} INDEX={IDX} TRANSMIT={TRANSMIT_LAST}
    {% endif %}
