#####################################################################
#   probe.sv08max
#####################################################################
## -- Configuration -- ##
# variable_z_offset_calibrated: False
## -- Configuration -- ##

[gcode_macro _PROBE_PRE]
gcode:

[gcode_macro _PROBE_POS]
gcode:

[gcode_macro _PROBE_LOCK]
gcode:

[gcode_macro _PROBE_CHECK]
gcode:

[gcode_macro _MC_ON_PRINT_PREPARE]
gcode:
    Z_OFFSET_CALIBRATION METHOD=force_overlay BED_TEMP={printer.heater_bed.target}
    SET_GCODE_VARIABLE MACRO=_CONFIG_PROBE VARIABLE=z_offset_calibrated VALUE=True


[gcode_macro _MC_ON_HOME_Z]
gcode:
    {% if not printer.probe.is_calibrated %}
        Z_OFFSET_CALIBRATION METHOD=force_overlay EXTRUDER_TEMP=0 BED_TEMP=0
        M400
        SAVE_CONFIG
    {% endif %}

[gcode_macro _MC_ON_BED_MESH_CALIBRATE]
gcode:
    # {% set origin_square_corner_velocity_val = printer.toolhead.square_corner_velocity|float %}
    # {% set temporarily_square_corner_velocity_val = 1.0 %}
    {% if not printer['gcode_macro _CONFIG_PROBE'].z_offset_calibrated %}
        G28 X
        G28 Y
        Z_OFFSET_CALIBRATION METHOD=force_overlay BED_TEMP={printer.heater_bed.target}
    {% endif %}

    # {% if printer.quad_gantry_level.applied|lower != 'true' %}
    #     QUAD_GANTRY_LEVEL
    # {% endif %}
    # SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={temporarily_square_corner_velocity_val}
    # BED_MESH_CALIBRATE_BASE ADAPTIVE=1 PGP=0 METHOD=rapid_scan
    # SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={origin_square_corner_velocity_val}
