## See https://github.com/AndrewEllis93/Print-Tuning-Guide/blob/main/macros/TEST_SPEED.cfg
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

[gcode_macro BREAK_IN]
gcode:
    {% set axis = params.AXIS|default("XY")|string|upper %}
    {% set iterations = params.ITERATIONS|default(5)|int %}

    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    {% set bound = params.BOUND|default(20)|int %}
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}

    {% set move_x = 'X' in axis %}
    {% set move_y = 'Y' in axis %}
    {% set move_z = 'Z' in axis %}

    {% set _max = printer.toolhead.axis_maximum %}
    {% set _min = printer.toolhead.axis_minimum %}
    {% set max = {'x': _max.x - bound, 'y': _max.y - bound 'z': _max.z - bound} %}
    {% set min = {'x': _min.x + bound, 'y': _min.y + bound 'z': _min.z + bound} %}
    {% set mid = {'x': (_max.x-_min.x)/2, 'y': (_max.y-_min.y)/2, 'z': (_max.z-_min.z)/2} %}

    {% set X = params.X|default(mid.x)|float %}
    {% set Y = params.Y|default(mid.y)|float %}
    {% set Z = params.Z|default(min.z + (max.z * 0.2))|float %}

    _MACRO_ENTRY NAME=BREAK_IN

    _CG28
    PARK POS="CENTER"

    _LOG NAME=opt.BREAK_IN MSG="Starting {iterations} iterations at v{speed}/a{accel} on {axis}"

    # Set new limits
    SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}

    {% for i in range(iterations) %}
        {% if move_x %} {% set X = min.x %} {% endif %}
        {% if move_y %} {% set Y = min.y %} {% endif %}
        {% if move_z %} {% set Z = min.z %} {% endif %}
        G0 X{X} Y{Y} Z{Z} F{speed*60}

        {% if move_x %} {% set X = max.x %} {% endif %}
        {% if move_y %} {% set Y = max.y %} {% endif %}
        {% if move_z %} {% set Z = max.z %} {% endif %}
        G0 X{X} Y{Y} Z{Z} F{speed*60}

        {% if move_x %} {% set X = min.x %} {% endif %}
        {% if move_y %} {% set Y = min.y %} {% endif %}
        {% if move_z %} {% set Z = min.z %} {% endif %}
        G0 X{X} Y{Y} Z{Z} F{speed*60}

        {% if move_x %} {% set X = max.x %} {% endif %}
        {% if move_y %} {% set Y = min.y %} {% endif %}
        {% if move_z %} {% set Z = max.z %} {% endif %}
        G0 X{X} Y{Y} Z{Z} F{speed*60}

        {% if move_x %} {% set X = min.x %} {% endif %}
        {% if move_y %} {% set Y = max.y %} {% endif %}
        {% if move_z %} {% set Z = min.z %} {% endif %}
        G0 X{X} Y{Y} Z{Z} F{speed*60}

        {% if move_x %} {% set X = max.x %} {% endif %}
        {% if move_y %} {% set Y = min.y %} {% endif %}
        {% if move_z %} {% set Z = max.z %} {% endif %}
        G0 X{X} Y{Y} Z{Z} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}

    PARK POS="CENTER"

    _MACRO_EXIT NAME=BREAK_IN
