# -================================-
#   Filament Macros
# -================================-
[gcode_macro FILAMENT_LOAD]
description: Load filament
gcode:
    {% set t = params.TEMP|default(235)|int %}
    {% set CFG = printer["gcode_macro _CONFIG"] %}

    _MACRO_ENTRY NAME=FILAMENT_LOAD
    _LOG NAME=opt.FILAMENT_LOAD MSG="Loading filament. Heating extruder to {t}C" DISPLAY=1

    SET_HEATER HEATER=extruder TEMP={t} WAIT=1
    _SET_STATUS STATUS=loading
    _EXTRUDE_RELATIVE
    _EXTRUDER_ZERO
    G0 E{CFG.filament_preload|int}       F200  ; ensure extruder has grip on filament
    G0 E{CFG.filament_extruder_gears - CFG.filament_park_pos} F300  ; load filament to park position
    G0 E{CFG.filament_park_pos - CFG.filament_melting_pool}   F300  ; load filament to melting pool
    _CLEAR_BUFFER

    {% if "xyz" in printer.toolhead.homed_axes %}
        NOZZLE_WIPE
    {% endif %}

    # if not printing or paused due to filament change set the extruder temp to 0
    {% if (printer.print_stats.state != "printing") and (printer.print_stats.state != "paused") %}
        SET_HEATER HEATER=extruder TEMP=0 WAIT=0
    {% endif %}
    _LOG NAME=opt.FILAMENT_LOAD MSG="Filament loaded!" DISPLAY=1
    _MACRO_EXIT NAME=FILAMENT_LOAD

    _PLAY_TUNE TUNE=FILAMENT_LOAD
    _SET_STATUS STATUS=active

[gcode_macro FILAMENT_UNLOAD]
description: Unload filament
gcode:
    {% set t = params.TEMP|default(235)|int %}
    {% set CFG = printer["gcode_macro _CONFIG"] %}

    _MACRO_ENTRY NAME=FILAMENT_UNLOAD
    _LOG NAME=opt.FILAMENT_UNLOAD MSG="Unloading filament... Heating extruder to {t}C" DISPLAY=1
    SET_HEATER HEATER=extruder TEMP={t} WAIT=1
    _SET_STATUS STATUS=unloading
    _EXTRUDE_RELATIVE
    _EXTRUDER_ZERO

    G0 E-{CFG.filament_melting_pool}   F300  ; load filament tip to melting pool
    _PAUSE T={CFG.filament_wait * 1000}       ; wait for _ seconds
    G0 E{CFG.filament_melting_pool - CFG.filament_park_pos}   F300  ; unload filament to park position
    G0 E{CFG.filament_park_pos - CFG.filament_extruder_gears} F600  ; unload filament to extruder gears
    G0 E-{CFG.filament_unload_eject}    F600  ; unload extra to be safe
    _CLEAR_BUFFER
    # if not printing or paused due to filament change set the extruder temp to 0
    {% if (printer.print_stats.state != "printing") and (printer.print_stats.state != "paused") %}
        {% if "xyz" in printer.toolhead.homed_axes %}
            NOZZLE_WIPE
        {% endif %}
        SET_HEATER HEATER=extruder TEMP=0 WAIT=0
    {% endif %}
    _LOG NAME=opt.FILAMENT_UNLOAD MSG="Filament unloaded!" DISPLAY=1
    _MACRO_EXIT NAME=FILAMENT_UNLOAD

    _PLAY_TUNE TUNE=FILAMENT_UNLOAD
    SET_FILAMENT MATERIAL="NONE"
    _SET_STATUS STATUS=active

[gcode_macro FILAMENT_CHANGE]
description: Change filament
gcode:
    {% set t = params.TEMP|default(235)|int %}
    {% set w = printer["gcode_macro _CONFIG"].filament_wait|int %}
    PARK POS="FRONT"

    FILAMENT_UNLOAD TEMP={t}
    _LOG NAME=opt.FILAMENT_CHANGE MSG="Waiting {w} seconds..." DISPLAY=1
    _PAUSE T={w * 1000}                        ; wait for {w} seconds
    FILAMENT_LOAD TEMP={t}

# -================================-
#   Filament Sensor Macros
# -================================-
[gcode_macro _SET_FS]
gcode:
    {% set ENABLE = params.ENABLE %}
    {% set CFG = printer["gcode_macro _CONFIG"] %}

    {% if CFG.filament_sensor %}
        {% if ENABLE %}
            {% set ENABLE = 1 %}
            _LOG NAME=opt._SET_FS MSG="Filament sensor enabled"
        {% else %}
            {% set ENABLE = 0 %}
            _LOG NAME=opt._SET_FS MSG="Filament sensor disabled"
        {% endif %}
        _EXTRUDER_ZERO
        SET_FILAMENT_SENSOR SENSOR={CFG.filament_sensor_name} ENABLE={ENABLE}
    {% endif %}

# -================================-
#   Internal Filament Macros
# -================================-
[gcode_macro _FILAMENT_INSERT]
description: Alert on filament insertion
gcode:
    _LOG NAME=opt._FILAMENT_INSERT MSG="Filament inserted!" DISPLAY=1
    _PLAY_TUNE TUNE=FILAMENT_DETECTED

[gcode_macro _FILAMENT_RUNOUT]
description: Alert on filament runout
gcode:
    OFF_IN T={60 * 12} ; Set off timer to 12 hours
    _LOG NAME=opt._FILAMENT_RUNOUT MSG="Filament runout detected!" DISPLAY=1
    _PLAY_TUNE TUNE=FILAMENT_RUNOUT
