#####################################################################
#    Aliases
#####################################################################
# base.aliases
#  Shutdown
#  Extrusion
#  Movement
#  Other

## ----- Extrusion ----- ##
[gcode_macro _SET_EXTRUDE]
description: Set printer extrusion factor
gcode:
    {% set PERCENT = params.PERCENT|default(100)|int %}
    M221 S{PERCENT}

[gcode_macro _EXTRUDE_ABSOLUTE]
description: Absolute extrusion
gcode:
    M82

[gcode_macro _EXTRUDE_RELATIVE]
description: Relative extrusion
gcode:
    M83

[gcode_macro _EXTRUDER_ZERO]
description: Zero the extruder
gcode:
    G92 E0

[gcode_macro _CLIENT_EXTRUDE]
description: Extrudes, if the extruder is hot enough
gcode:
    {% set retraction       = printer['gcode_macro _CONFIG_RETRACTION'] %}

    {% set use_fw_retract   = (retraction.enabled|default(false)|lower == 'true') and (printer.firmware_retraction is defined) %}
    {% set length           = params.LENGTH|default(retraction.unretract_length)|float %}
    {% set speed            = params.SPEED|default(retraction.unretract_speed)|default(35) %}
    {% set absolute_extrude = printer.gcode_move.absolute_extrude %}

    {% if printer.toolhead.extruder != '' %}
        {% if not printer[printer.toolhead.extruder].can_extrude %}
            _LOG LVL=ERROR NAME=aliases._CLIENT_EXTRUDE MSG="Extruder is not hot enough to extrude!"
        {% else %}
            _EXTRUDE_RELATIVE
            #_LOG LVL=TRACE NAME=aliases.CLIENT_EXTRUDE MSG="Extruding {length} at {speed}"
            G0 E{length} F{(speed|float|abs) * 60}
            {% if absolute_extrude %}
                _EXTRUDE_ABSOLUTE
            {% endif %}
        {% endif %}
    {% endif %}

[gcode_macro _CLIENT_RETRACT]
description: Retracts, if the extruder is hot enough
gcode:
    {% set retraction       = printer['gcode_macro _CONFIG_RETRACTION'] %}

    {% set length = params.LENGTH|default(retraction.unretract_length)|float %}
    {% set speed = params.SPEED|default(retraction.unretract_speed)|default(35) %}

    _CLIENT_EXTRUDE LENGTH=-{length|float|abs} SPEED={speed|float|abs}

## ----- Movement ----- ##
[gcode_macro _POSITION_ABSOLUTE]
description: Absolute positioning
gcode:
    G90

[gcode_macro _POSITION_RELATIVE]
description: Relative positioning
gcode:
    G91

[gcode_macro STEPPERS_OFF]
description: Turn steppers off
gcode:
    M84 # Or M18

[gcode_macro _SET_SPEED]
description: Set printer speed factor
gcode:
    {% set PERCENT = params.PERCENT|default(100)|int %}
    M220 S{PERCENT}

[gcode_macro _SET_POSITION]
description: Set position
gcode:
    G92 {% for p in params %}{'%s=%s ' % (p, params[p])}{% endfor %}

[gcode_macro G32]
description: Home axes, level, then home again
gcode:
    FORCE_CLEAR NAME=aliases.movement.G32

    _MACRO_ENTRY NAME=STATE_G32

    _LOG LVL=INFO NAME=aliases.G32 MSG="Performing G32..."
    G28
    LEVEL
    G28

    PARK POS="CENTER"
    _MACRO_EXIT NAME=STATE_G32

## ----- Other ----- ##
[gcode_macro SET_PART_FAN]
description: Set part fan speed
gcode:
    {% set SPEED = params.SPEED|default(0.0)|float %}
    {% if SPEED == 0.0 %}
        M107
    {% else %}
        M106 S{SPEED}
    {% endif %}

[gcode_macro ESTOP]
description: Emergency stop
gcode:
    M112

[gcode_macro _GET_POSITION]
description: Get gcode position
gcode:
    M114

[gcode_macro GET_FIRMWARE]
description: Get firmware version
gcode:
    M115

[delayed_gcode CLEAR_DISPLAY]
gcode:
  M117

[gcode_macro _CLEAR_BUFFER]
description: Wait for g-codes to finish before proceeding
gcode:
    M400

[gcode_macro _PAUSE]
description: Pause in milliseconds
gcode:
    {% set TIME = params.T|default(100)|int %}
    G4 P{TIME}
