#####################################################################
#    Quality of Life macros
#####################################################################
# base.QoL

[gcode_macro _MACRO_ENTRY]
gcode:
    {% set function  = 'pre_' ~ params.NAME %}

    _POSITION_ABSOLUTE
    M400 # mandatory to save the new safe position
    SAVE_GCODE_STATE NAME={function}

[gcode_macro _MACRO_EXIT]
gcode:
    {% set function  = 'pre_' ~ params.NAME %}
    {% set move  = params.MOVE|default(0) %}
    {% set speed = params.SPEED|default(printer["gcode_macro _CONFIG"].printer_restore_speed) %}

    _POSITION_ABSOLUTE
    M400 # mandatory to save the new safe position
    RESTORE_GCODE_STATE NAME={function} MOVE={move} MOVE_SPEED={speed * 60}

[gcode_macro OFF_IN]
gcode:
    {% set TIME = params.T|default(15)|int %}
    {% if TIME == -1 %}
        {% set TIME = printer.configfile.settings.idle_timeout.timeout %}
        _LOG LVL=TRACE NAME=QoL.OFF_IN MSG="Set off timer to default: {TIME/60|int}m"
    {% elif TIME == 0 %}
        _LOG LVL=TRACE NAME=QoL.OFF_IN MSG="Off timer canceled"
        {% set TIME = 24 * 60 * 60 %}
    {% else %}
        _LOG LVL=TRACE NAME=QoL.OFF_IN MSG="Set off timer to {TIME}m"
        {% set TIME = TIME * 60 %}
    {% endif %}
    SET_IDLE_TIMEOUT TIMEOUT={TIME}

[gcode_macro FORCE_HOME]
description: Ensure printer is homed
gcode:
    {% set NAME = params.NAME %}
    {% if not "xyz" in printer.toolhead.homed_axes %}
        _LOG LVL=ERROR NAME=FORCE_HOME MSG="{NAME} requires all axes homed!"
    {% endif %}

[gcode_macro FORCE_CLEAR]
description: Ensure bed is cleared
gcode:
    {% set NAME = params.NAME %}
    {% if not printer["gcode_macro _CONFIG"].printer_bed_clear %}
        _LOG LVL=ERROR NAME=FORCE_CLEAR MSG="{NAME} requires a cleared bed!"
    {% endif %}

[gcode_macro BED_CLEARED]
description: Set BED_CLEAR flag to True
gcode:
    SET_CONFIG NAME="printer_bed_clear" TO=True SAVE=True
    SET_GCODE_VARIABLE MACRO=_LAYER_STATUS VARIABLE=layer VALUE=-1
    SET_GCODE_VARIABLE MACRO=_LAYER_STATUS VARIABLE=height VALUE=-1.0

[gcode_macro BED_STATUS]
description: Print bed status
gcode:
    {% set CLEAR = printer["gcode_macro _CONFIG"].printer_bed_clear %}
    _LOG NAME=BED_STATUS MSG="Bed cleared: {CLEAR}"

[gcode_macro _CG28]
description: Conditional home axes
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        _LOG LVL=INFO NAME=QoL._CG28 MSG="Homing axes..."
        G28
    {% endif %}
