#####################################################################
#   Mesh
#####################################################################

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
    _SET_STATUS STATUS=meshing
    PROBE_PRE
    {% if printer["gcode"].commands["_MC_ON_BED_MESH_CALIBRATE"] %}
        _MC_ON_BED_MESH_CALIBRATE
    {% endif %}
    _BED_MESH_CALIBRATE {rawparams}
    PROBE_POS
    _SET_STATUS STATUS=active
